
{% comment %} {% extends "core/base.html" %}
{% block content %}
<h1>Liste des cours</h1>
{% if user.user_type == 'professor' %}
    <a href="{% url 'course_create' %}">Créer un nouveau cours</a>
{% endif %}

<ul>
    {% for course in courses %}
        <li>
            <a href="{% url 'course_detail' course.pk %}">{{ course.title }}</a>
        </li>
    {% endfor %}
</ul>
{% endblock %} {% endcomment %}

{% comment %} {% extends "core/base.html" %}
{% block content %}
<h1>Liste des Cours</h1>
<a href="{% url 'course_create' %}">Créer un nouveau cours</a>
<ul>
    {% for course in courses %}
    <li>
        <a href="{% url 'course_detail' course.pk %}">{{ course.title }}</a> |
        <a href="{% url 'course_update' course.pk %}">Modifier</a> |
        <a href="{% url 'course_delete' course.pk %}">Supprimer</a>
    </li>
    {% endfor %}
</ul>
{% endblock %} {% endcomment %}
