{% extends "core/base.html" %}

{% block content %}
  <h1>{{ lesson.title }}</h1>
  <p>{{ lesson.content }}</p>
  {% if lesson.video_url %}
    <p>Video URL: <a href="{{ lesson.video_url }}">{{ lesson.video_url }}</a></p>
  {% endif %}
  {% if lesson.pdf_file %}
    <p>PDF File: <a href="{{ lesson.pdf_file.url }}">{{ lesson.pdf_file.name }}</a></p>
  {% endif %}
  {% if user.user_type == 'professor' %}
    <a href="{% url 'lesson_update' lesson.pk %}">Update Lesson</a>
    <a href="{% url 'lesson_delete' lesson.pk %}">Delete Lesson</a>
  {% endif %}
{% endblock %}
