{% extends "core/base.html" %}

{% block content %}
  <h1 class="text-2xl font-bold text-center mb-6 text-purple-700 hover:text-blue-500 mt-10">Notifications</h1>
  <ul>
    {% for notification in notifications %}
      <li><a href="{% url 'notification_detail' notification.pk %}" class="flex justify-center">{{ notification.message }}</a></li>
    {% endfor %}
  </ul>
  {% comment %} {% if user.user_type == 'admin' %} {% endcomment %}
    <a href="{% url 'notification_create' %}" class="text-2xl font-bold text-center flex justify-center mb-6 text-purple-700 hover:text-blue-500">créer une nouvelle notification</a>
  {% comment %} {% endif %} {% endcomment %}
{% endblock %}
